*{
    font-family: 'Montserrat', sans-serif;
}
.paquetes{
    height: 600px;
    max-width: 97%;
}
.container-titulo-paquetes{
    display: flex;
    position: relative;
    bottom: 120px;
    justify-content: center;
    background-color: aqua;
}
.titulo-paquetes{
    font-size: 1.3rem;
    font-weight: 600;
}

.tarjetas-paquetes{
    position: relative;
    bottom: 120px;
}


/*Estilos para escritorio*/
@media only screen and (min-width: 1025px) {
    .container-titulo-paquetes{
        bottom: 180px;
        position: relative;
        background-color: rgb(255, 0, 255);
        }
    
  }


/*Estilos para Tabletas*/

@media screen and (max-width:767px) {
.container-titulo-paquetes{
    top: 180px;
    position: relative;
    background-color: rgb(255, 0, 0);
    }

.tarjetas-paquetes{
    position: relative;
    top: 200px;
    }
}


/*Estilos para Moviles*/
@media screen and (max-width:700px) {
    .container-titulo-paquetes{
        top: 120px;
        position: relative;
        background-color: rgb(17, 255, 0);
    }
    .tarjetas-paquetes{
        position: relative;
        top: 70px;
    }

    .card{
        margin-top: 100px;

    }

    

       
}
