/*Esta propiedad afecta todos los elementos*/
*{
    font-family: 'Montserrat', sans-serif;
}

.nosotros{
    height: 600px;
    max-width: 99%;
}

.container-sobre-nosotros{
    display: flex;
    position: relative;
    bottom: 100px;
    justify-content: center;
    
}

.titulo-sobre-nosotros{
    font-size: 1.3rem;
    font-weight: 600;
}

.parrafo-sobre-nosotros{
    font-size: 1.1rem;
    text-align:justify;
    padding: 10px 10px 300px 40px;
}

.img-nosotros1{
    
    height: 400px;
    font-size: 1.125rem;
    background-image: url(../../img/nosotros/n1.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}

.contenedor-img1{
    display:block;
    padding: 0px 0px 0px 70px;
    height: 400px;
  
    
}

.contenedor-nosotros1{
    position: relative;
   
    bottom: 70px;
}


/*Estilos para moviles*/

@media screen and (max-width:767px) {
    .nosotros{
        width: 90%;
        height: 600px;
       
    }

    .parrafo-sobre-nosotros{
        width: 100%;
        margin: 0 auto;
        font-size: 1.1rem;
        text-align: justify;
    
    }

    .contenedor-img1{
        display:block;
        height: 400px;
    }


    .img-nosotros1{
        position: relative;
        bottom: 250px;
        left: 10px;
        right: 10px;
        background-image: url(../../img/nosotros/n1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    
}

@media screen and (max-width:700px) {
   
    .nosotros{
        width: 94%;
        height: 600px;
       
    }

    .parrafo-sobre-nosotros{
        width: 100%;
        margin: 0 auto;
        font-size: 1.1rem;
        text-align: justify;
    
    }

    .contenedor-img1{
        display:block;
        padding: 10px;
        height: 400px;
      
        
    }


    .img-nosotros1{
        background-image: url(../../img/nosotros/n1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        bottom: 250px;
        
    }


       
}
    