.carrusel{
    height: 600px;
}



/* Afectamos txt del carrusel */
.primer__titulo, .primer__parrafo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;

}

/* Primer imagen del carrusel */
.item1{
    background: url(../../img/Carrusel/car1.jpg) center no-repeat;
    height: 450px;
    background-size: cover;
}

/* Segunda imagen del carrusel */
.item2{
    background: url(../..//img/Carrusel/car2.jpg) center no-repeat;
    height: 450px;
    background-size: cover;
    
}

/* Tercer imagen del carrusel */
.item3{
    background: url(../..//img/Carrusel/car3.jpg) center no-repeat;
    height: 450px;
    background-size: cover;
}
