.navbar{
    padding: 1rem;
    background-color: #f5f6f7;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.nav-link:hover{
    color: #82205e;
}
a.nav-link{
    color: black;
}