*{
    font-family: 'Montserrat', sans-serif;
}
.ubicacion{
    width: 99%;
}
.container-titulo-mapa{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 180px;
}
.container-mapa{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
}


/*Estilos para escritorio*/
@media only screen and (min-width: 1025px) {
    .container-mapa{
        position: relative;
        bottom: 130px;
        }
    
  }


/*Estilos para Tabletas*/

@media screen and (max-width:767px) {
.container-mapa{
    position: relative;
    top: 950px;
    
    }
}

/*Estilos para Moviles*/
@media screen and (max-width:700px) {
    .container-mapa{
        top: 1300px;
        position: relative;
    }
    
}
    

       